.fa-cog {
    font-size: 10px;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carousel{
    position: static;
    top: 0;
    z-index: 0;
}

#carousel img{
    max-height: 800px;
}

/*
Removes white gap between slides - chagnge to base color of slide images
*/
/*
.carousel {
  background:#007aeb;
}
*/
/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width: 100%;
}

.carousel-caption {
    top: 350px;
    color: #000;
}

.car-cap-bg {
    border-radius: 5px;
    margin: auto;
    min-width: 100%;
    background-color: rgb(0,0,0, 0.4);
}

.text-white {
    color: #fff;
}

.navbarScrollUp {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: rgb(0,72,106, 0.0);
    border-bottom: 1px solid #fff;
    height: 120px;
}

.navbarScrollDown {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: rgb(0,72,106);
    border-bottom: 1px solid #fff;
    height: 70px;
}

.navbarScrollDown .hideMe {
    display: none;
}

.hideMe {
    margin-bottom: 30px;
}

.dude {
    
}

.sandyLogoDown {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image: url("/assets/images/SandyLogo-2.png");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: -400px;
    left: 46%;
    z-index: 3;
    height: 100%;
}

.sandyLogoUp {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image: url("/assets/images/SandyLogo.png");
    background-repeat: no-repeat;
    background-position: center; 
    z-index: 2;
    height: 100%;
 
}

.sandyNav {
    z-index: 1;
    height: 100%;
    align-items: flex-end;
}

.sandyBar {
    color: #fff;
    font-weight: 600;
}

.sandyBar button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
}

.sandyBar .dropdown-item {
    color: #000;
}
/* style the nav bar links */
.sandyBar a {
    color: #fff;
}

.sandyBar a:link {
    color: #fff;
}

.sandyBar a:visted {
    color: #fff;
}

.sandyBar a:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
}

.sandyBar button:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
} 

.sandyBar a:active {
    color: #fff;
}

.login button {
    color: #000;
}

.login a {
    color: #000;
}

.login  a:link {
    color: #000;
}

.login  a:visted {
    color: #000;
}

.login  a:hover {
    color: #000;
    text-shadow: 0 0 3px #fff;
}

.login  button:hover {
    color: #000;
    text-shadow: 0 0 3px #fff;
} 

.login  a:active {
    color: #000;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(41,163,183);
    color: white;
    text-align: center;
}

.form-signin {
    width: 250px;
}

.form-signin #remember {
    margin-left: 15px;
}

.form-signin button {
    margin-left: 25px;
}