body {
    background-image: url("../images/bg-pattern.jpg");

	
}

.sandy {
    background-image: url("../images/beach2.jpg");
    min-height: 150px;
    max-height: 150px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

#index-img {
	background-image: url("../images/SandyFeet6.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 50%; 
    min-height: 350px;
	max-width: 100%;
	border: 5px solid #fff;
}

#txt_umail {
    text-transform: lowercase;
}

ul.dropdown-lr {
  width: 300px;
}

.index-nav {
	background-color: #80be8b;
}

.navProp {
	max-height: 20px;
	font-size: 15px;
	margin-left: -15px;
    position: fixed;
    top: 200px;
    width: 100%;
    z-index: 1;
}

.navProp + .content {
	padding-top: 130px;
}

.userinfobk {
    border-radius: 5px;
    background: rgb(0,123,255, 0.6);
    color: #fff;
    width: 500px;
    height: 100px;
}

.userinfo {
    color: #003;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

.form-signin {
    width: 250px;
}

.form-signin #remember {
    margin-left: 15px;
}

.form-signin button {
    margin-left: 25px;
}


/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}