@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
    background-image: url("../images/bg-pattern.jpg");
}

.sandy {
    background-image: url("../images/beach2.jpg");
    min-height: 150px;
    max-height: 150px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

#index-img {
	background-image: url("../images/sandyFeet6.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 50%; 
    min-height: 350px;
	max-width: 100%;
	border: 5px solid #fff;
}

#txt_umail {
    text-transform: lowercase;
}

ul.dropdown-lr {
  width: 300px;
}

.index-nav {
    background-color: #0077BE;
}

.admin-nav {
    margin-bottom: 15px;
}

.btn-toolbar button {
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-nav button {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.main-car {
    margin-top: 10px;
    background: rgba(0,119,190, 0.3);
    border-radius: 5px;
    min-height: 500px;
}

#carouselExampleIndicators {
    margin-top: 10%;
    box-shadow: 5px 10px #000;
    max-width: 720px;
}

.reservation {
    margin-top: 20%;
}

.navProp {
	max-height: 20px;
	font-size: 15px;
	margin-left: -15px;
    position: fixed;
    top: 200px;
    width: 100%;
    z-index: 1;
}

.navProp + .content {
	padding-top: 130px;
}

.userinfobk {
    display: none;
    border-radius: 5px;
    background: rgba(0,123,255, 0.6);
    color: #fff;
    width: 500px;
    height: 100px;
}

.userinfo {
    color: #003;
}

table.avgTable {
    box-shadow: 5px 5px;
    border: 1px solid #1C6EA4;
    background-color: #eee;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.avgTable td, table.avgTable th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table.avgTable tbody td {
  font-size: 13px;
}

table.avgTable tr:nth-child(even) {
  background: #D0E4F5;
}

table.avgTable thead th{
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

table.avgTable thead tr:first-child {
	text-align: center;
}

table.avgTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table.avgTable thead th {
  border-left: none;
}

table.avgTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}

table.avgTable tfoot td {
  font-size: 14px;
}

table.avgTable tfoot .links {
  text-align: right;
}

table.avgTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#admin {
    margin-top: 25px;
}

#report_area {
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(41,163,183, 0.5);
	border: 5px solid rgb(41,163,183);
}

#report_area  h1 {
    font-family: 'PT Serif', serif;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(41,163,183);
    color: white;
    text-align: center;
}

.form-signin {
    width: 250px;
}

.form-signin #remember {
    margin-left: 15px;
}

.form-signin button {
    margin-left: 25px;
}

#norent_pie {
    margin-top: 15px;
}

.active, .btn:hover {

}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}